.img-box {
  margin: 25px auto 15px;
  width: 180px;
  height: 180px;
}
.img-box img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  border: 4px solid rgb(255, 255, 255);
}
a:hover i {
  transition: all 0.2s linear;
  transform: scale(1.2);
  color: rgb(255, 255, 255) !important;
}
